<!-- ввод email  -->

{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    <h1>Login</h1>
    <br>
    <form method="post">
        {% csrf_token %}
        {% if email %}
        <h2>{{no_user}}</h2>
        {% endif %}
        <br>
        <input type="email" name="email" required>
        <br>
        <br>
        <input type="submit" value="Отправить письмо с кодом">
        <br>
        <br>
        <a href="{% url 'signup' %}">Регистрация</a>
    </form>
{% endblock content %}