<!-- регистрация  -->

{% extends 'base.html' %}

{% block title %}SignUp{% endblock %}

{% block content %}
    <h1>Регистрация</h1>
    <br>
    <br>
    {% if error %}
        <h2>{{error_message}}</h2>
        <br>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="username">Введите имя</label>
        <input type="text" id="username" name="username" maxlength="30" required>
        <br>
        <br>
        <label for="password">Введите пароль</label>
        <input type="text" id="password" name="password" maxlength="20" required>
        <br>
        <br>
        <label for="repeat_password">Повторите пароль</label>
        <input type="text" id="repeat_password" name="repeat_password" maxlength="20" required>
        <br>
        <br>
        <label for="mail">Введите email</label>
        <input type="email" id="mail" name="mail">
        <br>
        <br>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <br>
    <br>
    {% if username and not error %}
        <h1>{{welcome}}</h1>
    {% endif %}
    <br>
    <br>
    <a href="/">Главная</a>
{% endblock %}
